* {
    font-size: 17px;
    font-family: 'fakefont';
    color: blue;
    letter-spacing: 0.1px;
}
@font-face {
  font-family: 'fakefont';
  src: url('webfont.eot'); /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('webfont.woff') format('woff'), /* Modern Browsers */
       url('font.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}


td,
th,
tr,
table {
    border-top: 1px solid blue;
    border-collapse: collapse;
    width: 100%;
    
}

table thead tr td {
  border-top: 1px solid #ccc;
  margin: 100px;
  font-size: 11px;
}

td.description,
th.description {
    width: 55px;
    max-width: 55px;
    padding: 5px 0;
}

td.quantity,
th.quantity {
    width: 30px;
    max-width: 30px;
    word-break: break-all;
    text-align: left;
}

td.price,
th.price {
    width: 70px;
    max-width: 70px;
    word-break: break-all;
    text-align: right;
}



.centered, .center{
    text-align: center;
    align-content: center;
}

.ticket {
    width: 300px;
   /* max-width: 155px;*/
    padding: 40px 10px;
    background-color: #ccc;
}

img {
    width: 100px;
    margin: 0 auto;
    
}

@media print {
    .hidden-print,
    .hidden-print * {
        display: none !important;
    }
}